.clear-card {
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid;
}

.clear-card .list-group-item-action {
    background-color: rgba(255, 255, 255, .8);
}

.clear-card .list-group {
    border: 2px solid;
}

.body-font {
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title-font {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.display-font {
    font-family: "Playwrite BE WAL", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Prata", serif;
}

h2 {
    font-family: "Prata", serif;
}

h3 {
    font-family: "Prata", serif;
}

h4 {
    font-family: "Prata", serif;
}

h5 {
    font-family: "Prata", serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

html {
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
    scrollbar-width: thin;
}





