{% extends "charts/base-chart.html" %}

{% block content %}
    <div class="card mt-4">
        <div class="card-body">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        const ctx = document.getElementById('myChart');

        // Extract data passed from the backend
        const labels = {{ visit_dates | tojson }};
        const data = {{ visit_data | tojson }};

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,  // Time of visits grouped by hour (x-axis)
                datasets: [{
                    label: 'Website Visits',
                    data: data,   // Number of visits per hour (y-axis)
                    borderWidth: 1,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock content %}
