{% extends "layout.html" %}
{% from "macros/code-card.html" import code_card %}
{% block content %}
    <style>
        .avatar {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            display: block;
            margin: 1rem auto;
        }

        #orvalImage {
            opacity: 0;
            transform: translateX(-100%);
            transition: transform 5s ease-in-out, opacity 5s ease-in-out;
        }

        #orvalImage.slide-in {
            opacity: 1;
            transform: translateX(0);
        }

        #orvalImage.slide-out {
            opacity: 0;
            transform: translateX(-100%);
        }

    </style>

    <div class="container-fluid">
        <div class="row mt-2">

            {#    Left side of page    #}
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="row justify-content-end">
                    <div class="col-sm-12 col-md-8">
                        <div class="card clear-card " style="height: 87vh;">
                            <img src="{{ url_for('static', path='images/headshot.jpg') }}" class="avatar rounded-circle"
                                 style="border: 2px solid; width: 260px; height: 260px"
                                 alt="Avatar Image">
                            <div class="card-body text-center">
                                <h2 class="card-title display-font">{{ resume_data['name'] }}</h2>
                                <h6 class="card-subtitle mt-3">{{ resume_data['title'] }}</h6>
                                <h6 class="card-subtitle mt-3">{{ resume_data['location'] }}</h6>
                                <hr/>

                                <div class="list-group">
                                    <a href="#aboutMe" class="list-group-item list-group-item-action">About Me</a>
                                    <a href="#skills" class="list-group-item list-group-item-action">Skills</a>
                                    <a href="#education" class="list-group-item list-group-item-action">Education</a>
                                    <a href="#experience" class="list-group-item list-group-item-action">Experience</a>
                                </div>

                                <hr/>
                                <a class="btn btn-info btn-lg" href="{{ resume_data['github'] }}">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                                <a class="btn btn-info btn-lg" href="{{ resume_data['linkedin'] }}">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                                <a class="btn btn-info btn-lg"
                                   href="mailto:{{ resume_data['email'] }}?subject=Contact%20via%20Website">
                                    <i class="fa-solid fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {#   Right side of page     #}
            <div class="col-sm-12 col-md-6 mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <div class="card clear-card p-2" style="height: 87vh;">
                            <div class="card-body overflow-auto">
                                <h3 id="aboutMe" class="card-title text-center">About Me</h3>
                                <hr/>
                                <p class="card-text mb-4"
                                   style="text-indent: 20px">{{ resume_data['summary'] }}</p>
                                <h3 id="skills" class="card-title text-center">Skills</h3>
                                <hr/>
                                <div class="badge-container mt-4 text-center">
                                    {% for skill in resume_data['skills'] %}
                                        <span class="badge bg-info m-1 text-black" style="font-size: 16px">
                                            {{ skill }}
                                        </span>
                                    {% endfor %}
                                </div>
                                <h3 id="education" class="card-title mt-4 text-center">Education</h3>
                                <hr/>
                                <div class="badge-container mt-4">
                                    {% for degree in resume_data['education'] %}
                                        <div class="card clear-card mt-4">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">{{ degree['degree'] }}</h5>
                                                <p>{{ degree['institution'] }}</p>
                                                <p>{{ degree['dates'] }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <h3 id="experience" class="card-title mt-4 text-center">Experience</h3>
                                <hr/>
                                <div class="badge-container mt-4">
                                    {% for experience in resume_data['experience'] %}
                                        <div class="card clear-card mt-4">
                                            <div class="card-body">
                                                <h4 class="card-title">{{ experience['title'] }}</h4>
                                                <h5>{{ experience['company'] }}</h5>
                                                <b>{{ experience['location'] }}</b>
                                                <br>
                                                <i>{{ experience['dates'] }}</i>
                                                <ul class="mt-3">
                                                    {% for description in experience['description'] %}
                                                        <li>{{ description }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="card clear-card mt-3">
                                    <div class="card-body text-center">
                                        <strong>
                                            This website was made with ❤️ in North Carolina
                                            <br>
                                            by yours truly using:
                                        </strong>
                                        <ul class="my-2 m-auto list-group">
                                            <a class="list-group-item list-group-item-action"
                                               href="https://fastapi.tiangolo.com/">FastApi (Python)</a>
                                            <li class="list-group-item">
                                                HTML/Jinja2
                                            </li>
                                            <li class="list-group-item">
                                                Javascript
                                            </li>
                                            <a class="list-group-item list-group-item-action"
                                               href="https://www.sqlalchemy.org/">SQLAlchemy</a>
                                            <a class="list-group-item list-group-item-action"
                                               href="https://www.postgresql.org/">Postgres</a>
                                            <a class="list-group-item list-group-item-action"
                                               href="https://www.chartjs.org/">Charts.js</a>
                                            <a class="list-group-item list-group-item-action"
                                               href="https://www.heroku.com/home">Deployed on Heroku</a>
                                        </ul>
                                        Check out the fully functional <a href="/docs">REST Api</a>!
                                        {{ code_card("Get my resume as JSON", "curl -X 'GET' 'https://www.allisoncarr.dev/resume' -H 'accept: application/json'", 'bash') }}
                                        Check out the source code <a
                                            href="https://github.com/Allisonjcarr/AllisonResumeWebsite">on Github</a>!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto"><span class="me-2">🍄</span>Hello!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                You just made request number:
                <strong class="text-success">{{ total_visits }}</strong>
                to my website. I collect data about the requests, and have compiled statistics about my visitors! 📈
                <div class="mt-2 pt-2 border-top">
                    <a href="/project-website">
                        <button type="button" class="btn btn-primary btn-sm">
                            View Statistics
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <img id="orvalImage" src="{{ url_for('static', path='images/orval.png') }}" style="cursor: pointer"
         class="fixed-bottom">



    <script>
        const toastLiveExample = document.getElementById('liveToast')
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample, {
            autohide: false
        })
        toastBootstrap.show()

        let timeBetween = 5000;

        function showOrval() {
            if (window.innerWidth < 768) {
                return;
            }

            setTimeout(function () {
                document.getElementById('orvalImage').classList.remove('slide-out');
                document.getElementById('orvalImage').classList.add('slide-in');
            }, timeBetween);
        }

        window.onload = function () {
            showOrval();
            document.getElementById('orvalImage').onclick = function () {
                this.classList.remove('slide-in');
                this.classList.add('slide-out');
                timeBetween += 2000
                showOrval();
            };
        };


    </script>


{% endblock %}

