{% extends "layout.html" %}
{% from "macros/code-card.html" import code_card %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-sm-12 col-md-6">
                <div class="card clear-card p-1 p-md-2">
                    <div class="card-body p-1 p-md-2">
                        <div class="text-center">
                            <h1>Website Visit Statistics</h1>
                            <p>Welcome to my real time statistics page! Below I have collected a variety of information
                                about my website visitors using a Postgresql database. I have visualized the data using
                                <a href="https://www.chartjs.org/">charts.js</a>
                                embedded in an HTML page. View the source code
                                <a href="https://github.com/Allisonjcarr/AllisonResumeWebsite">here!</a></p>
                        </div>

                        <div class="card clear-card p-1 p-md-2">
                            <div class="card-body p-1 p-md-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Table 1: Recent Website Requests</h5>
                                    </div>
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped" style="border: 2px solid">
                                                <thead>
                                                <tr class="table-success">
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Device</th>
                                                    <th scope="col">Browser</th>
                                                    <th scope="col">City</th>
                                                    <th scope="col">State</th>
                                                    <th scope="col">Country</th>
                                                    <th scope="col">Visited At</th>
                                                    <th scope="col">Endpoint</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for visit in chart_data['visits_table_data'] %}
                                                    <tr>
                                                        <th scope="row">{{ visit.id }}</th>
                                                        <td>{{ visit.device }}</td>
                                                        <td>{{ visit.browser }}</td>
                                                        <td>{{ visit.city }}</td>
                                                        <td>{{ visit.state }}</td>
                                                        <td>{{ visit.country }}</td>
                                                        <td>{{ visit.visited_at.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                                                        <td>{{ visit.endpoint }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <span>
                                            Table 1 includes identifying factors about my website visitors;
                                            location, device, browser and what endpoint they visited. This data includes the
                                            10 most recent records in the <code>website_visits</code> table of my database.
                                            The SQL used to display this table is:
                                        </span>
                                        {{ code_card("SQL", "SELECT\n    id,\n    device,\n    browser,\n    city,\n    state,\n    visited_at,\n    endpoint\nFROM website_visits\nORDER BY id desc\nLIMIT 10;") }}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card clear-card mt-4 p-1 p-md-2">
                            <div class="card-body p-1 p-md-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Figure 1: Website Visits Over Time</h5>
                                    </div>
                                    <div class="col-12">
                                        <div>
                                            <canvas id="visitsOverTimeChart"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <span>
                                            Figure 1. The above line chart tracks website visits by hour using data from Table 1. The SQL used to gather data:
                                        </span>
                                        {{ code_card("SQL", "SELECT\n    visited_at,\n    count(*)\nFROM website_visits\nGROUP BY visited_at;") }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card clear-card mt-4 p-1 p-md-2">
                            <div class="card-body p-1 p-md-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Figure 2: Device Distribution</h5>
                                    </div>
                                    <div class="col-sm-12 col-md-6 mt-3">
                                        <div>
                                            <canvas id="devicesChart"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 mt-3">
                                        <span>
                                            Figure 2. This pie chart examines the distribution of devices used to access the website over time using data from Table 1.
                                            The SQL used to gather data is:
                                        </span>
                                        {{ code_card("SQL", "SELECT\n    device,\n    count(*)\nFROM website_visits\nGROUP BY device;") }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card clear-card mt-4 p-1 p-md-2">
                            <div class="card-body p-1 p-md-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Figure 3: Browser Distribution</h5>
                                    </div>
                                    <div class="col-sm-12 col-md-6 mt-3">
                                        <div>
                                            <canvas id="browsersChart"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 mt-3">
                                        <span>
                                            Figure 3. This pie chart maps the distribution of browsers used to access the website using data from Table 1.
                                            The SQL used to gather data is:
                                        </span>
                                        {{ code_card("SQL", "SELECT\n    browser,\n    count(*)\nFROM website_visits\nGROUP BY browser;") }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card clear-card mt-4 p-1 p-md-2">
                            <div class="card-body p-1 p-md-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Figure 4: USA Traffic by State</h5>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <div>
                                            <canvas id="usaTrafficChart"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <span>
                                            Figure 4. This map uses data from Table 1 to display the number of visits per state. The SQL used to gather this data is:
                                        </span>
                                        {{ code_card("SQL", "SELECT\n    state,\n    count(*)\nFROM website_visits\nWHERE state != 'Unknown'\nGROUP BY state;") }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card clear-card mt-4 p-1 p-md-2">
                            <div class="card-body p-1 p-md-2">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Figure 5: Global Traffic by Country</h5>
                                    </div>
                                    <div class="col-12 mt-4">
                                        <div>
                                            <canvas id="globalTrafficChart"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <span>
                                            Figure 5. This world map displays the density of website visits per country using data from Table 1. The SQL used to gather this data is:
                                        </span>
                                        {{ code_card("SQL", "SELECT\n    country,\n    count(*)\nFROM website_visits\nWHERE country != 'Unknown'\nGROUP BY country;") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/chartjs-chart-geo@4"></script>
    <script>
        const visitsOverTimeData = {{ chart_data['visits_over_time_chart_data'] | tojson }}
        const devicesData = {{ chart_data['devices_chart_data'] | tojson }}
        const browsersData = {{ chart_data['browsers_chart_data'] | tojson }}
        const stateData = {{ chart_data['state_chart_data'] | tojson }}
        const countryData = {{ chart_data['country_chart_data'] | tojson }}
    </script>

    <script src="{{ url_for('static', path='js/charts.js') }}"></script>

{% endblock %}
